.card {
  /* padding: 0%; */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  color: black;
}

/* .card div:first-of-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

#test {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .card :not(div:first-of-type) {
  width: 40%;
  height: 100%;
  float:right;
} */

.card button {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.card Link {
  color: white;
  text-decoration: none;
  color: black;
}

.welcome{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background: url("../../images/bg/agenda.jpg"); */
}

.welcome Image {
  max-width: 40%;
 max-height: 40%;
}

.welcome p {
  width: 70%;
  font-size: 20px;
  text-align: center;
  font-style: oblique;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url("../../images/bg/agenda.jpg"); */
}

.form form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url("../../images/bg/agenda.jpg"); */
}


.inputblock {
  width: 100%;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputblock label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}

.inputblock input {
  /* margin-top: 0rem; */
  text-align: center;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.15);
  height: 35px;
  width: 60%;
  color: grey;
}
