body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-y: auto;
}

/* html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
} */

* {
  box-sizing: border-box;
}

/* header {
  display: flex;
  align-items: center;
  justify-content: center;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
