body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-y: auto;
  /* background: linear-gradient(to top, #a3bded 0%, #6991c7 100%); */
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/* * {
  box-sizing: border-box;
} */

/* header {
  display: flex;
  align-items: center;
  justify-content: center;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    
  }
  body {
    color: white;
  }
}
